.container{
    margin: auto !important;
}

body{
    height: 97.5vh;
    background: rgb(155,171,181);
background: linear-gradient(0deg, rgba(155,171,181,1) 0%, rgba(112,142,159,1) 29%, rgba(20,93,131,1) 67%, rgba(3,68,102,1) 96%);
}
